---
import { Image } from 'astro:assets'
import hero1024 from '../../assets/img/hero-photo-1024.jpg'
import hero1920 from '../../assets/img/hero-photo-1920.jpg'
import heroMobile from '../../assets/img/hero-photo-700.jpg'

import hero1024wp from '../../assets/img/hero-photo-1024.webp'
import hero1920wp from '../../assets/img/hero-photo-1920.webp'
import heroMobilewp from '../../assets/img/hero-photo-700.webp'
---

<style>
  @keyframes slowZoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.18);
    }
  }
</style>
<section
  id="hero"
  class="bg-black-500 relative h-[30vh] w-full overflow-hidden md:h-[70vh] xl:h-[85vh]"
>
  <picture
    id="hero-picture"
    class="h-full w-full object-cover object-bottom opacity-0 transition-opacity duration-1000 ease-out"
  >
    <!-- Fuentes en WebP optimizadas -->
    <source
      srcset={hero1920wp.src}
      media="(min-width: 1280px)"
      type="image/webp"
    />
    <source
      srcset={hero1024wp.src}
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset={heroMobilewp.src}
      media="(max-width: 767px)"
      type="image/webp"
    />

    <!-- Fuentes en JPG como fallback -->
    <source
      srcset={hero1920.src}
      media="(min-width: 1280px)"
      type="image/jpeg"
    />
    <source
      srcset={hero1024.src}
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <source
      srcset={heroMobile.src}
      media="(max-width: 767px)"
      type="image/jpeg"
    />

    <Image
      src={hero1920}
      alt="Portada de los Premios Príncipe de los Páramos"
      class="h-full w-full animate-[slowZoom_15s_ease-in-out_infinite_alternate] object-cover object-bottom"
      loading="lazy"
      decoding="async"
    />
  </picture>
</section>
<script is:inline>
  const pic = document.getElementById('hero-picture')
  window.addEventListener('DOMContentLoaded', () => {
    pic.classList.remove('opacity-0')
    pic.classList.add('opacity-100')
  })
  window.addEventListener('scroll', () => {
    const y = window.scrollY
    pic.style.transform = `translateY(${y * 0.15}px) scale(1.02)`
  })
</script>
